<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	
</head>
<body>

	<div class="container">
	    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
	      <div class="col-md-3 mb-2 mb-md-0">
	        <a href="/home" class="d-inline-flex link-body-emphasis text-decoration-none">
	          <img class="mb-4" src="/img/logo.svg" alt="" width="72" height="57">
	        </a>
	      </div>

	      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
	        <li><a href="/home" class="nav-link px-2">Home</a></li>
	        <li th:if="${usuarioLogin!=null and usuarioLogin.admin}"><a href="/usuarios" class="nav-link px-2">Usuarios</a></li>
	        <li><a href="/contenedores" class="nav-link px-2">Contenedores</a></li>
	        <li><a href="/items" class="nav-link px-2 link-secondary">Items</a></li>
	      </ul>

		  <div class="flex-shrink-0 dropdown">
		            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
		              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">					  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"></path>					  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"></path>					</svg>
		            </a>
		            <ul class="dropdown-menu text-small shadow">
		              <li><a class="dropdown-item" href="/usuario/update">Gestionar Usuario</a></li>
		              <li><hr class="dropdown-divider"></li>
		              <li><a class="dropdown-item" href="/logout">Logout</a></li>
		            </ul>
		          </div>
	    </header>

		<div class="row">
					<div class="col">
						<button class="btn btn-primary py-2 w-100" onclick="document.location='/items/insert'">Alta</button>
					</div>
		</div>
		
		<div class="row">
					<form>
									<div class="col" style="display: flex;">
										
											<input type="text" name="query" class="form-control" 
																				placeholder="inserta aqui la palabra para buscar" autofocus="true" th:value="${query}"/>
																				
										
										<button class="btn btn-primary py-2">
														<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
															<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
														</svg>
										</button>
									</div>
							</form>
					</div>
		
		<div id="tablaDatos" class="table-responsive">
		<table id="myTable" class="table table-striped">
			<thead>
				<tr>
					<th>Id <a role="button" aria-expanded="true" onclick="sortTable(this,0)" class="fa fa-sort"></a></th>
					<th>Nombre <a role="button" aria-expanded="true" onclick="sortTable(this,0)" class="fa fa-sort"></a></th>
					<th>Descripcion <a role="button" aria-expanded="true" onclick="sortTable(this,1)" class="fa fa-sort"></a></th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody class="myTable">
			<tr th:each="item:${items}">
				<td> <a th:href="${'/items/select/'+item.id}" th:text="${item.id}"></a></td>
				<td th:text="${item.nombre}"></td>
				<td th:text="${item.descripcion}"></td>
				<td class="acciones">
					
					
					<a class="btn" role="button" th:href="${'/items/update/'+item.id}">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
											  <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
											</svg>
										</a> 
												
										<a class="btn" role="button" th:href="${'/items/delete/'+item.id}">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
											  <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
											</svg>
											</a> 
						
					
					
					
				</td>
			</tr>

			</tbody>
		</table>
		</div>
		<div class="alert alert-danger" role="alert" th:if="${error!=null}" th:text="${error}">
					</div>
				    <p/>
	  </div>
</body>
</html>